In [77]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error as mae

In [71]:
dft = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
dft.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [73]:
x = dft.drop(['target'],axis=1)
y = dft['target']
x.shape, y.shape

((1600, 5), (1600,))

In [74]:
lr = LinearRegression()
lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [87]:
train_predict = lr.predict(x)
k = mae(train_predict,y)
print (k)
print (lr.score(x, y))

16.44115956737588
0.9660939669975616

In [85]:
test_predict = lr.predict(test)
test['target'] = test_predict

In [86]:
test

     feature_1  feature_2  feature_3  feature_4  feature_5      target
0     1.015254   2.076209  -0.266435  -2.418088  -0.980503  114.583689
1    -0.375021   0.953185   0.626719   0.704406  -0.355489  118.012815
2    -1.024452   0.962991  -0.407942  -1.861274   0.455201  -21.739852
3    -2.489841   0.544802   0.601219  -0.607021  -1.314286  -43.936899
4    -0.384675  -0.833624   1.358552  -0.547932   0.411925  -95.914898
..         ...        ...        ...        ...        ...         ...
395  -0.436959  -0.575844  -1.620908  -0.222588   1.086013  -81.989000
396  -0.421324  -2.417543   0.876275   0.844565   0.171646 -186.032535
397   0.554728   1.768243  -0.897787  -1.193661   0.340563  125.292336
398  -1.627172   0.856471  -0.000566   0.629387   0.453382   65.369841
399   0.139310   0.531597  -0.853107   0.031692   1.714893   57.059691

[400 rows x 6 columns]